.sidebar-menu__progress-block-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  padding: 0;
  width: 100%;
  text-decoration: none;
  color: #212329;
}

@media (max-width: 768px) {
  .sidebar-menu__progress-block-head {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
