.result-test {
  max-width: 808px;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1039px) {
  .result-test {
    max-width: 90%;
  }
}
