.result-test {
  max-width: 808px;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
  display: flex;
  flex-direction: column;
}
