.page {
  background-color: #fcfcfc;
  font-family: Golos, Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  color: #212329;
}
