.player__fullscreen-button {
  background-image: url(../../../images/player-fullscreen-button.svg);
  background-color: transparent;
  cursor: pointer;
  border: 0;
  width: 24px;
  min-width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 32px;
  transition: opacity 1s ease;
  transition: rotate 1s ease;
}

.player__fullscreen-button:hover {
  opacity: 0.5;
  rotate: 180deg;
}

@media (max-width: 1024px) {
  .player__fullscreen-button {
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .player__fullscreen-button {
    margin-left: 8px;
  }
}
