.player__sound-level-img {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-right: 8px;
  cursor: pointer;
  transform: opacity 1s ease;
}

.player__sound-level-img:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .player__sound-level-img {
    margin-right: 4px;
  }
}
