.breadcrumbs__list  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 60px;
  }

  .breadcrumbs__list .breadcrumbs__item+.breadcrumbs__item::before {
    content: "\00a0\276F\00a0";

  }

  @media screen and (max-width: 860px) {
    .breadcrumbs__list {
      padding-left: 19px;
      padding-right: 19px;
    }
  }
