.sidebar-menu {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 424px;
  overflow: hidden;
  grid-area: sidebar;
  padding-left: 42px;
}


@media screen and (max-width: 1039px) {
  .sidebar-menu {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 560px) {
  .sidebar-menu {
    padding: 0;
  }
}
