.result-test__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 12px;
  max-width: 680px;
}

.result-test__text:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1039px) {
  .result-test__text {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 30px 12px;
  }
}
