.player__container {
  /* background-image: url(../../../images/player-plug-image.jpeg); */
  background-position: center center;
  background-size: cover;
  background-color: #212329;
  max-width: 808px;
  height: 456px;
  box-shadow: 0px 0px 4px rgba(233, 234, 237, 0.6), 0px 4px 16px rgba(233, 234, 237, 0.4);
  border-radius: 8px;
  margin-top: 32px;
  position: relative;
}
