.content__design {
  box-shadow: 0px 0px 4px rgb(231 232 235 / 60%), 0px 4px 16px rgb(231 232 235 / 60%);
  border-radius: 16px;
  max-width: 872px;
  padding: 32px;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 860px) {
  .content__design {
    padding: 19px;
  }
}
