.content__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 32px;
}

@media screen and (max-width: 1023px) {
  .content__text {
    font-size: 16px;
    line-height: 26px;
  }
}
