@import url(../vendor/normalize.css);
@import url(../vendor/fonts/golos-text.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__list-item/menu__list-item.css);
@import url(../blocks/menu/__icon/menu__icon.css);

@import url(../blocks/content/content.css);

@import url(../blocks/breadcrumbs/breadcrumbs.css);
@import url(../blocks/breadcrumbs/__link/breadcrumbs__link.css);
@import url(../blocks/breadcrumbs/__item/breadcrumbs__item.css);
@import url(../blocks/breadcrumbs/__list/breadcrumbs__list.css);

@import url(../blocks/background-shadow/background-shadow.css);
@import url(../blocks/content/__title/content__title.css);
@import url(../blocks/content/__text/content__text.css);

@import url(../blocks/card/__return/card__return.css);
@import url(../blocks/card/__header/card__header.css);
@import url(../blocks/card/__title/card__title.css);

@import url(../blocks/test/__point/test__point.css);
@import url(../blocks/test/__list/test__list.css);
@import url(../blocks/test/__image/test__image.css);
@import url(../blocks/test/__score/test__score.css);
@import url(../blocks/test/__tries/test__tries.css);
@import url(../blocks/test/__time/test__time.css);
@import url(../blocks/test/__text/test__text.css);
@import url(../blocks/test/__list/_start/test__list_start_not.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/_state/button_state_inactive.css);
@import url(../blocks/button/_state/button_state_disabled.css);
@import url(../blocks/button/_width/button_width_regular.css);
@import url(../blocks/button/button__image/button__image.css);
@import url(../blocks/button/button__image/_position/button__image_position_left.css);
@import url(../blocks/button/button__image/_position/button__image_position_right.css);
@import url(../blocks/content/__outside-buttons/content__outside-buttons.css);

@import url(../blocks/sidebar-menu/sidebar-menu.css);
@import url(../blocks/sidebar-menu/__title/sidebar-menu__title.css);
@import url(../blocks/sidebar-menu/__stages/sidebar-menu__stages.css);
@import url(../blocks/sidebar-menu/__progress-list/sidebar-menu__progress-list.css);
@import url(../blocks/sidebar-menu/__progress-block/sidebar-menu__progress-block.css);
@import url(../blocks/sidebar-menu/__link/sidebar-menu__link.css);
@import url(../blocks/sidebar-menu/__progress-block/_active/sidebar-menu__progress-block_active.css);
@import url(../blocks/sidebar-menu/__progress-block-head/sidebar-menu__progress-block-head.css);
@import url(../blocks/sidebar-menu/__progress-block-text/sidebar-menu__progress-block-text.css);
@import url(../blocks/sidebar-menu/__progress-block-toggler/sidebar-menu__progress-block-toggler.css);
@import url(../blocks/sidebar-menu/__stages-item/sidebar-menu__stages-item.css);
@import url(../blocks/sidebar-menu/__stages-item/_type/sidebar-menu__stages-item_type_done.css);
@import url(../blocks/sidebar-menu/__stages-item/_type/sidebar-menu__stages-item_type_lesson.css);
@import url(../blocks/sidebar-menu/__stages-item/_type/sidebar-menu__stages-item_type_lesson-active.css);
@import url(../blocks/sidebar-menu/__stages-item/_type/sidebar-menu__stages-item_type_test.css);
@import url(../blocks/sidebar-menu/__stages-item/_type/sidebar-menu__stages-item_type_test-active.css);
@import url(../blocks/sidebar-menu/__stages-item/_type/sidebar-menu__stages-item_type_video.css);
@import url(../blocks/sidebar-menu/__stages-item/_type/sidebar-menu__stages-item_type_video-active.css);
@import url(../blocks/sidebar-menu/__stages-item/_type/sidebar-menu__stages-item_type_webinar.css);
