@import url(../vendor/normalize.css);
@import url(../vendor/fonts/golos-text.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__list-item/menu__list-item.css);
@import url(../blocks/menu/__icon/menu__icon.css);
@import url(../blocks/content/content.css);
@import url(../blocks/result-test/result-test.css);
@import url(../blocks/result-test/__text/result-test__text.css);
@import url(../blocks/result-test/__title/result-test__title.css);
@import url(../blocks/result-test/_type/_negative/result-test_type_negative.css);
@import url(../blocks/result-test/_theme/_red/result-test_theme_red.css);
