@import url(../vendor/normalize.css);
@import url(../vendor/fonts/golos-text.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__list-item/menu__list-item.css);
@import url(../blocks/menu/__icon/menu__icon.css);

@import url(../blocks/content/content.css);

@import url(../blocks/section/section.css);

@import url(../blocks/section-title/section-title.css);

@import url(../blocks/section-text/section-text.css);

@import url(../blocks/section-background/section-background.css);

@import url(../blocks/section-button/section-button.css);

@import url(../blocks/section-list/section-list.css);
@import url(../blocks/section-list/__internal-list/section-list__internal-list.css);

@import url(../blocks/section-list/__condition/section-list__condition.css);

@import url(../blocks/section-list/__item/section-list__item.css);

@import url(../blocks/section-header/section-header.css);

@import url(../blocks/section-subtitle/section-subtitle.css);

@import url(../blocks/breadcrumbs/breadcrumbs.css);
@import url(../blocks/breadcrumbs/__link/breadcrumbs__link.css);
@import url(../blocks/breadcrumbs/__item/breadcrumbs__item.css);
@import url(../blocks/breadcrumbs/__list/breadcrumbs__list.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/_state/button_state_active.css);
@import url(../blocks/button/_state/button_state_inactive.css);
@import url(../blocks/button/_state/button_state_disabled.css);
@import url(../blocks/button/_width/button_width_narrow.css);
@import url(../blocks/button/_width/button_width_regular.css);
@import url(../blocks/button/_width/button_width_wide.css);
@import url(../blocks/button/__link/button__link.css);
@import url(../blocks/button/__image/button__image.css);
@import url(../blocks/button/__image/_position/button__image_position_left.css);
@import url(../blocks/button/__image/_position/button__image_position_right.css);
@import url(../blocks/section-header/__button-conditions/section-header__button-conditions.css);

@import url(../blocks/icon/icon.css);
@import url(../blocks/icon/_picture/icon_picture_checkbox.css);
@import url(../blocks/icon/_picture/icon_picture_radio.css);
@import url(../blocks/icon/_picture/icon_picture_check-mark.css);
@import url(../blocks/icon/_picture/icon_picture_success.css);
@import url(../blocks/icon/_picture/icon_picture_checkbox-checked.css);
@import url(../blocks/icon/_picture/icon_picture_circular-arrow.css);
@import url(../blocks/icon/_picture/icon_picture_lesson.css);
@import url(../blocks/icon/_picture/icon_picture_radio-checked.css);
@import url(../blocks/icon/_picture/icon_picture_cross.css);
@import url(../blocks/icon/_picture/icon_picture_cross-failure.css);
@import url(../blocks/icon/_picture/icon_picture_sandglass.css);
@import url(../blocks/icon/_picture/icon_picture_test-active.css);
@import url(../blocks/icon/_picture/icon_picture_sidebar-menu.css);
@import url(../blocks/icon/_rotated/icon_rotated.css);
@import url(../blocks/icon/_position/icon_position.css);

@import url(../blocks/test/__answer-options/test__answer-options.css);
@import url(../blocks/test/__form-container/test__form-container.css);
@import url(../blocks/test/__item/test__item.css);
@import url(../blocks/test/__list/test__list.css);
@import url(../blocks/test/__question/test__question.css);
@import url(../blocks/test/__text/test__text.css);
@import url(../blocks/test/__result-text/test__result-text.css);
@import url(../blocks/test/__result-text/_theme/test__result-text_theme_green.css);
@import url(../blocks/test/__result-text/_theme/test__result-text_theme_red.css);
@import url(../blocks/test/__result-title/test__result-title.css);
@import url(../blocks/test/__result-title/_theme/test__result-title_theme_green.css);
@import url(../blocks/test/__result-title/_theme/test__result-title_theme_red.css);
@import url(../blocks/test/__result/test__result.css);
@import url(../blocks/test/__result/_theme/test__result_theme_green.css);
@import url(../blocks/test/__result/_theme/test__result_theme_red.css);
@import url(../blocks/test/__result/_position/test__result_position_bottom-indent.css);
@import url(../blocks/test/__text/_theme/test__text_theme_orange.css);
@import url(../blocks/test/__result-text/_typography/test__result-text_typography.css);

@import url(../blocks/conditions/__list/conditions__list.css);
@import url(../blocks/conditions/__text/conditions__text.css);

@import url(../blocks/sidebar-menu/sidebar-menu.css);
@import url(../blocks/sidebar-menu/__item/sidebar-menu__item.css);
@import url(../blocks/sidebar-menu/__list/sidebar-menu__list.css);
@import url(../blocks/sidebar-menu/__link/sidebar-menu__link.css);
@import url(../blocks/sidebar-menu/__item-list/sidebar-menu__item-list.css);
@import url(../blocks/sidebar-menu/__item-list/_open/sidebar-menu__item-list_open.css);
@import url(../blocks/sidebar-menu/__text/sidebar-menu__text.css);

@import url(../blocks/hide/hide.css);
@import url(../blocks/test/__result/_hide/test__result_hide.css);
@import url(../blocks/button/_hide/button_hide.css);
