.sidebar-menu__stages-item {
  margin: 0;
  padding: 0 0 16px 30px;
  list-style: none;
  background-repeat: no-repeat;
  background-position-x: left;
  object-fit: contain;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #212329;
}

.sidebar-menu__stages-item:last-child {
  padding-bottom: 0;
}
