.sidebar-menu__stages-item {
  margin: 0;
  padding: 0 0 16px 30px;
  list-style: none;
  background-repeat: no-repeat;
  background-position-x: left;
  object-fit: contain;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212329;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar-menu__stages-item:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1039px) {
  .sidebar-menu__stages-item {
    font-size: 16px;
    line-height: 26px;
  }
}
