.test__result-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  padding: 32px 75px 18px;
  margin: 0;
  max-width: 680px;
}

@media screen and (max-width: 1039px) {
  .test__result-title {
    padding: 12px;
    font-size: 36px;
    line-height: 35px;
  }
}
