.result-test__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  padding-bottom: 32px;
  margin: 0;
  max-width: 680px;
}

@media screen and (max-width: 1439px) {
  .result-test__title {
    padding: 24px 24px 12px;
    font-size: 32px;
    line-height: 35px;
  }
}
