.sidebar-menu__progress-block-text {
  margin: 0;
  padding: 0;
  max-width: 328px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 1039px) {
  .sidebar-menu__progress-block-text {
    font-size: 16px;
    line-height: 26px;
    max-width: 90%;
  }
}
